copyparty.ocd.beauty {
    reverse_proxy copyparty:3923
}

continuwuity.ocd.beauty {
    reverse_proxy unix//run/continuwuity/continuwuity.sock
}

navidrome.ocd.beauty {
    reverse_proxy navidrome:4533
}

livekit-server.continuwuity.ocd.beauty {
    @lk-jwt-service path /sfu/get* /healthz* /get_token*
    handle @lk-jwt-service {
        reverse_proxy lk-jwt-service:8080
    }

    handle {
        reverse_proxy host.docker.internal:7880
    }
}
